mixin senses(senses)
  ol
    each sense in senses
      li
        strong #{sense.number}
        if sense.meanings
          span #{sense.meanings.join(' ')}
        if sense.synonyms
          each synonym in sense.synonyms
            a #{synonym}
        if sense.illustrations
          ul
            each illustration in sense.illustrations
              li #{illustration}
        if sense.senses
          +senses(sense.senses)

+senses(definition)